<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meiyanlock.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />   	
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <application
        android:icon="@drawable/lock_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="com.meiyanlock.android.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
         </activity>
         
		<service android:name="com.meiyanlock.android.MyLockScreenService">  
			<intent-filter>  
				<action android:name="android.intent.action.SCREEN_OFF" />  
			</intent-filter>
		</service>
		
        <activity android:name="com.meiyanlock.android.MainActivity"/>
        
        <receiver android:name="com.meiyanlock.android.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>            
        </receiver>
        
    </application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>